# API Server
fastapi
uvicorn[standard]
pydantic[email]
ujson
email-validator
python-multipart

# JWT & Auth
fastapi-users[mongodb]

# Database
motor
dnspython

# Utility
arrow
logzero

# Development
black
flake8
